*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: hsl(233, 47%, 7%);
    position: relative;
}
.contain{
    width: 80%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 8rem;
    top: 10rem;
}
.left{
    width: 50%;
    height: 50vh;
    padding-left: 80px;
    padding-right: 60px;
    background-color: hsl(244, 38%, 16%);
    position: relative;
}
.left h1{
    font-size: 39px;
    color: aliceblue;
    margin-top: 30px;
}
.left span{
    color: hsl(277, 64%, 61%);
}
.left p{
    font-size: 20px;
    margin-top: 10px;
    color: aliceblue;
}
.inner{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 5px;
    margin-top: 5px;
}
div h1{
    font-size: 24px;
}
div p{
    margin-top: 0;
    font-size: 15px;
}
.right{
    width: 50%;
    height: 50vh;
    background: /*linear-gradient (0deg hsl(277, 64%, 61%)), */ url(/images/image-header-desktop.jpg);
}


@media only screen and (max-width: 800px) {
    .container{
        width: 100%;
        height: 100vh;
        background-color: hsl(233, 47%, 7%);
        position: relative;
    }
    .contain{
        width: 50%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 9rem;
        top: 3rem;
        background-color: aqua;
       
    }
    .left{
        width: 59.5%;
        height: 50%;
        background-color: hsl(244, 38%, 16%);
        order: 1;
    }
    .left h1{
        font-size: 23px;
        margin-top: 15px;
        color: aliceblue;
        text-align: center;
        padding-left: 0;
    }
    .left span{
        color: hsl(277, 64%, 61%);
    }
    .left p{
        font-size: 15px;
        margin-top: 10px;
        color: aliceblue;
    }
    .inner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    div h1{
        font-size: 27px;
        margin-top: 8px;
    }
    div p{
        margin-top: 0;
        font-size: 15px;
    }
    .right{
        width: 100%;
        height: 40vh;
        background: /*linear-gradient (0deg hsl(277, 64%, 61%)), */ url(/images/image-header-mobile.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}